.main-header{
    background-color:#a10a30;
    padding-left: 15px;
    padding-right: 15px;
    padding: top 10px;
    padding-bottom:10px;
}
.nav-link{
    color:deeppink;
    margin-right: 4px;
}
.text-center{
    text-align: center;
}
.pink-text{
    color:deeppink;
}
.main-container{
    min-height: 100vh;
}